.footerBox {
  margin: 2em auto 0;
  height: 90vh;
  background-color: #1e1e1c;
  color: rgba(255, 255, 255, 0.5);
}

.itemBox {
  display: flex;
  justify-content: space-between;
  padding: 3.5em 3.5em 0 3.5em;
}

.itemBox a {
  text-decoration: none;
}

.itemBox span {
  font-size: 0.8em;
}

.boxOne {
  flex: 2;
  padding-right: 2em;
}

.boxTwo,
.boxThree,
.boxFour {
  flex: 1;
}

.boxTwo,
.boxThree {
  padding-right: 2em;
}

.copyright {
  text-align: center;
  color: gray;
  margin: 0;
  padding-top: 20vh;
}

@media (min-width: 576px) and (max-width: 768px) {
  .itemBox {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 575.9px) {
  .itemBox {
    flex-direction: column;
  }
  .footerBox {
    height: auto;
  }

  .boxTwo {
    margin-top: 2em;
  }

  .boxThree,
  .boxFour {
    margin-top: 1em;
  }

  .copyright {
    padding: 1em 0.5em;
  }
}
